@import '../../../../styles/components.scss';

.contact{
    position: relative;
    z-index: 2;
}

.contact__inner {
    @include sectionLeftBorder;
}

.contact__content {
    display: flex;
    justify-content: space-between;
    padding: 75px 50px 50px;
    background-image: linear-gradient(to bottom, rgba($blue, 0), $dark-blue 40%);
    border-radius: 2px;
    position: relative;

    /* gradient shadow */
    &::before {
        content: '';
        width: calc(100% + 12px);
        height: calc(100% + 20px);
        background-image: linear-gradient(to bottom, rgba($blue, 0), $dark-blue 40%);
        border-radius: 10px;
        opacity: 0.5;
        filter: blur(10px);
        position: absolute;
        top: 0px;
        left: -6px;
        z-index: -1;
    }
}

/* block with the company info */
.contact__info {
    width: 60%;
}

/* single info item */
.contact__info-item {
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0;
    }
}

/* info item title */
.contact__info-title,
.contact__form-title {
    margin-bottom: 15px;
    color: $white;
    font-family: $montserrat;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 1px;
}

/* info item paragraph */
.contact__info-value {
    display: block;
    width: fit-content;
    margin-bottom: 10px;
    color: $white;
    font-family: $montserrat;
    font-size: 16px;

    &:last-child {
        margin-bottom: 0;
    }
}

/* info item link */
a.contact__info-value {
    padding-bottom: 7px;
    outline: none;
    position: relative;

    /* link's underline */
    &::after {
        content: '';
        width: 99%;
        height: 2px;
        background-color: $white;
        border-radius: 6px;
        opacity: 0;
        transform: translate3d(-50%, -5px, 0);
        transition: $transitionBasic;
        position: absolute;
        left: 50%;
        bottom: 0;
        z-index: 1;
    }

    &:hover,
    &:focus {
        &::after {
            opacity: 0.8;
            transform: translate3d(-50%, 0, 0);
        }
    }
}

/* wrapper for the social networks links */
.contact__info-socials-wrapper {
    display: flex;
    column-gap: 15px;
}

/* social network link */
.contact__info-social {
    transition: $transitionBasic;
    outline: none;

    /* icon */
    svg {
        display: block;
        fill: $white;
        opacity: 0.75;
        transition: $transitionBasic;
    }

    &:hover,
    &:focus {
        transform: scale(1.1);

        svg {
            opacity: 1;
        }
    }
}

/* block with the callback form */
.contact__form {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 33.333%;
}

/* form title */
.contact__form-title {
    margin-bottom: 30px;
}

/* wrapper for all the form's inputs */
.contact__form-inputs-wrapper {
    margin-bottom: 45px;
}

/* form input */
.contact__form-input {
    width: 100%;
    margin-bottom: 30px;
    padding: 10px 20px;
    color: $white;
    background-color: transparent;
    border: 2px solid $light-blue;
    border-radius: 8px;
    font-family: $montserrat;
    font-size: 18px;
    transition: $transitionBasic;
    transition-property: box-shadow;
    outline: none;
    resize: none;

    &::placeholder {
        color: $white;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &:focus {
        box-shadow: 0 0 10px rgba($light-blue, 0.5);
    }
}

/* form textarea */
#contact__form-textarea {
    min-height: 100px;
}

/* SCREEN ADAPTATION */
@media (max-width: $smallScreen) {
    .contact__content {
        flex-direction: column-reverse;
        row-gap: 75px;
        padding: 50px;
    }

    /* block with the company info */
    .contact__info {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
        width: 100%;
    }

    /* single info item */
    .contact__info-item {
        width: 40%;
        margin-bottom: 0;
    }

    /* block with the callback form */
    .contact__form {
        width: 75%;
        margin: 0 auto;
        text-align: center;
    }

    /* form submit button */
    #contact__form-submit {
        width: 100%;
        margin: 0 auto;
    }
}

/* tablets */
@media (max-width: $tablet) {
    .contact__content {
        row-gap: 50px;
        padding: 30px;
    }

    /* single info item */
    .contact__info-item {
        width: 100%;
    }
}

/* mobile phones */
@media (max-width: $phone) {
    .contact__content {
        padding: 15px;

        /* gradient shadow */
        &::before {
            width: calc(100% + 6px);
            height: calc(100% + 20px);
            left: -3px;
        }
    }

    /* info item title */
    .contact__info-title,
    .contact__form-title {
        font-size: 24px;
    }

    /* social network link */
    .contact__info-social {
        transform: scale(0.85);

        &:hover,
        &:focus {
            transform: scale(1);
        }
    }

    .contact__form-title {
        margin-bottom: 25px;
    }

    /* block with the callback form */
    .contact__form {
        width: 100%;
    }

    /* wrapper for all the form's inputs */
    .contact__form-inputs-wrapper {
        margin-bottom: 25px;
    }

    /* form input */
    .contact__form-input {
        margin-bottom: 20px;
    }
}
