<section class="contact">
    <div class="container">
        <div class="contact__inner">
            <h2 class="title">
                Contact Us
            </h2>
            <div class="contact__content">
                <div class="contact__info">
                    <div class="contact__info-item">
                        <h3 class="contact__info-title">
                            Address
                        </h3>
                        <a href="https://www.google.com/maps/place/AQUATIS+Aquarium-Vivarium/@46.5410651,6.6559533,17z/data=!4m5!3m4!1s0x478c2e6f62ef26b1:0x78d6ad431ef399fe!8m2!3d46.5410172!4d6.6571871" target="blank" class="contact__info-value" title="Google Maps">
                            Rte de Berne 144, 1010 Lausanne, Switzerland
                        </a>
                    </div>
                    <div class="contact__info-item">
                        <h3 class="contact__info-title">
                            Working time
                        </h3>
                        <p class="contact__info-value">
                            Every day from 10:00 to 22:00
                        </p>
                    </div>
                    <div class="contact__info-item">
                        <h3 class="contact__info-title">
                            Phone numbers
                        </h3>
                        <a href="tel:+123456789012" class="contact__info-value" title="Call us">
                            8 (958)-767-3148
                        </a>
                        <a href="tel:+210987654321" class="contact__info-value" title="Call us">
                            8 (424)-324-4042
                        </a>
                    </div>
                    <div class="contact__info-item">
                        <h3 class="contact__info-title">
                            Our social networks
                        </h3>
                        <div class="contact__info-socials-wrapper">
                            <a href="https://www.twitter.com/" target="blank" class="contact__info-social" title="Twitter">
                                <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M37.5 14.1211C36.4063 14.6094 35.2246 14.9414 33.9551 15.1172C35.2832 14.3359 36.1914 13.1934 36.6797 11.6895C35.4102 12.4316 34.1016 12.9297 32.7539 13.1836C31.5625 11.8945 30.0684 11.25 28.2715 11.25C26.5723 11.25 25.1221 11.8506 23.9209 13.0518C22.7197 14.2529 22.1191 15.7031 22.1191 17.4023C22.1191 17.9688 22.168 18.4375 22.2656 18.8086C19.7461 18.6719 17.3828 18.0371 15.1758 16.9043C12.9687 15.7715 11.0938 14.2578 9.55078 12.3633C8.98437 13.3398 8.70117 14.375 8.70117 15.4688C8.70117 17.6953 9.58984 19.4043 11.3672 20.5957C10.4492 20.5762 9.47266 20.3223 8.4375 19.834V19.8926C8.4375 21.3574 8.92578 22.6611 9.90234 23.8037C10.8789 24.9463 12.0801 25.6543 13.5059 25.9277C12.9395 26.084 12.4414 26.1621 12.0117 26.1621C11.7578 26.1621 11.377 26.123 10.8691 26.0449C11.2793 27.2754 12.0068 28.291 13.0518 29.0918C14.0967 29.8926 15.2832 30.3027 16.6113 30.3223C14.3457 32.0801 11.7969 32.959 8.96484 32.959C8.45703 32.959 7.96875 32.9297 7.5 32.8711C10.3906 34.707 13.5352 35.625 16.9336 35.625C19.1211 35.625 21.1719 35.2783 23.0859 34.585C25 33.8916 26.6406 32.9639 28.0078 31.8018C29.375 30.6396 30.5518 29.3018 31.5381 27.7881C32.5244 26.2744 33.2568 24.6924 33.7354 23.042C34.2139 21.3916 34.4531 19.7461 34.4531 18.1055C34.4531 17.7539 34.4434 17.4902 34.4238 17.3145C35.6543 16.4355 36.6797 15.3711 37.5 14.1211ZM45 8.4375V36.5625C45 38.8867 44.1748 40.874 42.5244 42.5244C40.874 44.1748 38.8867 45 36.5625 45H8.4375C6.11328 45 4.12598 44.1748 2.47559 42.5244C0.825195 40.874 0 38.8867 0 36.5625V8.4375C0 6.11328 0.825195 4.12598 2.47559 2.47559C4.12598 0.825195 6.11328 0 8.4375 0H36.5625C38.8867 0 40.874 0.825195 42.5244 2.47559C44.1748 4.12598 45 6.11328 45 8.4375Z">
                                </svg>
                            </a>
                            <a href="https://www.facebook.com/" target="blank" class="contact__info-social" title="Facebook">
                                <svg width="50" height="44" viewBox="0 0 50 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M44.6429 0.125H5.35714C3.93634 0.125 2.57373 0.61886 1.56907 1.49794C0.564412 2.37701 0 3.5693 0 4.8125L0 39.1875C0 40.4307 0.564412 41.623 1.56907 42.5021C2.57373 43.3811 3.93634 43.875 5.35714 43.875H20.6752V29.001H13.644V22H20.6752V16.6641C20.6752 10.5947 24.8047 7.24219 31.1295 7.24219C34.1585 7.24219 37.3259 7.71484 37.3259 7.71484V13.6719H33.8359C30.3973 13.6719 29.3248 15.5391 29.3248 17.4541V22H37.0011L35.7734 29.001H29.3248V43.875H44.6429C46.0637 43.875 47.4263 43.3811 48.4309 42.5021C49.4356 41.623 50 40.4307 50 39.1875V4.8125C50 3.5693 49.4356 2.37701 48.4309 1.49794C47.4263 0.61886 46.0637 0.125 44.6429 0.125V0.125Z">
                                </svg>
                            </a>
                            <a href="https://www.instagram.com/" target="blank" class="contact__info-social" title="Instagram">
                                <svg width="50" height="44" viewBox="0 0 50 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M25 16.791C23.8227 16.7914 22.6719 17.0972 21.6932 17.6698C20.7145 18.2424 19.9519 19.0561 19.5016 20.008C19.0514 20.9598 18.9338 22.0071 19.1638 23.0174C19.3937 24.0277 19.9609 24.9557 20.7935 25.684C21.6262 26.4123 22.6869 26.9082 23.8417 27.109C24.9964 27.3099 26.1932 27.2066 27.2809 26.8123C28.3686 26.418 29.2982 25.7503 29.9522 24.8938C30.6063 24.0372 30.9554 23.0302 30.9554 22C30.9542 20.6185 30.3263 19.2939 29.2096 18.3171C28.093 17.3404 26.5789 16.7915 25 16.791V16.791ZM38.9185 12.7871C38.6155 12.1151 38.1578 11.5047 37.574 10.9939C36.9902 10.483 36.2926 10.0826 35.5246 9.81738C33.1808 9.00781 27.6004 9.18945 25 9.18945C22.3996 9.18945 16.8248 9.00098 14.4743 9.81738C13.7063 10.0826 13.0087 10.483 12.4249 10.9939C11.8411 11.5047 11.3834 12.1151 11.0804 12.7871C10.1562 14.8379 10.3627 19.7256 10.3627 21.999C10.3627 24.2725 10.1562 29.1543 11.0848 31.2119C11.3879 31.8839 11.8455 32.4943 12.4294 33.0052C13.0132 33.516 13.7108 33.9165 14.4788 34.1816C16.8225 34.9912 22.4029 34.8096 25.0045 34.8096C27.606 34.8096 33.1786 34.998 35.529 34.1816C36.2971 33.9165 36.9946 33.516 37.5785 33.0052C38.1623 32.4943 38.6199 31.8839 38.923 31.2119C39.8549 29.1611 39.6406 24.2734 39.6406 22C39.6406 19.7266 39.8549 14.8457 38.923 12.7881L38.9185 12.7871ZM25 30.0078C23.1899 30.0078 21.4205 29.5382 19.9155 28.6583C18.4105 27.7783 17.2375 26.5277 16.5449 25.0645C15.8522 23.6012 15.6709 21.9911 16.0241 20.4378C16.3772 18.8844 17.2488 17.4575 18.5287 16.3376C19.8086 15.2177 21.4393 14.455 23.2146 14.1461C24.9898 13.8371 26.83 13.9957 28.5022 14.6017C30.1745 15.2078 31.6038 16.2342 32.6094 17.5511C33.615 18.868 34.1518 20.4162 34.1518 22C34.1533 23.052 33.9175 24.0938 33.4581 25.066C32.9987 26.0381 32.3247 26.9214 31.4746 27.6652C30.6245 28.4091 29.615 28.9989 28.504 29.4009C27.393 29.8028 26.2022 30.0091 25 30.0078V30.0078ZM34.529 15.5254C34.1065 15.5256 33.6934 15.4161 33.3419 15.2109C32.9905 15.0056 32.7165 14.7137 32.5547 14.3722C32.3928 14.0307 32.3504 13.6548 32.4327 13.2922C32.5149 12.9296 32.7183 12.5964 33.017 12.3349C33.3157 12.0734 33.6963 11.8953 34.1107 11.8231C34.5252 11.7509 34.9547 11.7879 35.3451 11.9293C35.7355 12.0707 36.0692 12.3103 36.304 12.6177C36.5387 12.9251 36.6641 13.2865 36.6641 13.6562C36.6652 13.9018 36.611 14.1451 36.5045 14.3722C36.3979 14.5994 36.2412 14.8059 36.0433 14.9799C35.8453 15.1539 35.6101 15.292 35.351 15.3863C35.0919 15.4806 34.8141 15.5292 34.5335 15.5293L34.529 15.5254ZM44.6429 0.125H5.35714C3.93634 0.125 2.57373 0.61886 1.56907 1.49794C0.564412 2.37701 0 3.5693 0 4.8125L0 39.1875C0 40.4307 0.564412 41.623 1.56907 42.5021C2.57373 43.3811 3.93634 43.875 5.35714 43.875H44.6429C46.0637 43.875 47.4263 43.3811 48.4309 42.5021C49.4356 41.623 50 40.4307 50 39.1875V4.8125C50 3.5693 49.4356 2.37701 48.4309 1.49794C47.4263 0.61886 46.0637 0.125 44.6429 0.125V0.125ZM42.7321 28.4453C42.5882 30.9482 41.9353 33.166 39.8471 34.9883C37.7589 36.8105 35.2266 37.3936 32.3694 37.5127C29.4219 37.6582 20.5848 37.6582 17.6373 37.5127C14.7768 37.3867 12.2511 36.8145 10.1596 34.9883C8.06808 33.1621 7.41071 30.9434 7.27455 28.4453C7.10826 25.8652 7.10826 18.1318 7.27455 15.5547C7.41853 13.0518 8.06362 10.834 10.1596 9.01172C12.2556 7.18945 14.7879 6.61328 17.6373 6.49414C20.5848 6.34863 29.4219 6.34863 32.3694 6.49414C35.2299 6.62012 37.7634 7.19238 39.8471 9.01855C41.9308 10.8447 42.596 13.0635 42.7321 15.5664C42.8984 18.1367 42.8984 25.8633 42.7321 28.4453Z">
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <form class="contact__form">
                    <h3 class="contact__form-title">
                        Any other questions?
                    </h3>
                    <fieldset class="contact__form-inputs-wrapper">
                        <input type="text" name="name" id="contact__form-name" class="contact__form-input" placeholder="Your name" required>
                        <input type="tel" name="phone" id="contact__form-phone" class="contact__form-input" placeholder="Your phone number" pattern="[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}" required>
                        <textarea id="contact__form-textarea" class="contact__form-input" placeholder="Your message"></textarea>
                    </fieldset>
                    <button class="btn" id="contact__form-submit" type="submit">
                        <span class="btn__content">
                            Callback
                        </span>
                        <span class="btn__wave"></span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>