@import '../../styles/variables.scss';

/* wrapper for the sections and hovering images behind them */
.sticky-group {
    contain: layout;

    & > section{
        position: relative;
        z-index: 2;
    }
}

/* wrapper for the hovering jellyfish image */
.sticky-wrapper {
    position: sticky;

    .container{
        position: relative;
    }
}

/* hovering jellyfish image */
.sticky-image {
    width: 300px;
    opacity: 0;
    transition: $transitionBasic;
    transition-property: opacity;
    position: absolute;

    &.image-loaded {
        opacity: 0.75;
    }

    &:hover {
        opacity: 1;
    }
}

.sticky-wrapper-1 {
    top: 50px;

    .sticky-image {
        animation: hoverImage1 5s linear infinite;
        left: 0;
    }
}

.sticky-wrapper-2 {
    top: 100px;

    .sticky-image {
        animation: hoverImage2 7s linear infinite;
        right: 0;
    }
}

.sticky-wrapper-3 {
    top: 150px;

    .sticky-image {
        width: 400px;
        animation: hoverImage3 5s linear infinite;
        left: 0;
    }
}

/* ANIMATIONS */
@keyframes hoverImage1 {
    0% {
        transform: translate3d(-50%, 0, 0) rotate(35deg);
    }
    70% {
        transform: translate3d(-50%, 50px, 0) rotate(30deg);
    }
    100% {
        transform: translate3d(-50%, 0, 0) rotate(35deg);
    }
}

@keyframes hoverImage2 {
    0% {
        transform: translate3d(50%, 0, 0) rotate(-60deg);
    }
    30% {
        transform: translate3d(50%, 50px, 0) rotate(-70deg);
    }
    100% {
        transform: translate3d(50%, 0, 0) rotate(-60deg);
    }
}

@keyframes hoverImage3 {
    0% {
        transform: translate3d(-50%, 0, 0) rotate(10deg);
    }
    50% {
        transform: translate3d(-50%, 50px, 0) rotate(0deg);
    }
    100% {
        transform: translate3d(-50%, 0, 0) rotate(10deg);
    }
}

/* SCREEN ADAPTATION */
/* mobile phones */
@media (max-width: $phone) {
    .sticky-image {
        width: 250px;
    }
}
