<div class="sticky-wrapper sticky-wrapper-3">
    <div class="container">
        <div class="image sticky-image">
            <img data-src="jellyfishes/jellyfish-3.webp" alt="jellyfish" class="lazy-image" width="800px" height="661px">
        </div>
    </div>
</div>