<div class="sticky-wrapper sticky-wrapper-2">
    <div class="container">
        <div class="image sticky-image">
            <img data-src="jellyfishes/jellyfish-2.webp" alt="jellyfish" class="lazy-image" width="738px" height="796px">
        </div>
    </div>
</div>