<div class="sticky-wrapper sticky-wrapper-1">
    <div class="container">
        <div class="image sticky-image">
            <img data-src="jellyfishes/jellyfish-1.webp" alt="jellyfish" class="lazy-image" width="600px" height="880px">
        </div>
    </div>
</div>