@import '../../../../styles/components.scss';

.services__inner {
    @include sectionLeftBorder;
}

/* main section content */
.services__filter {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: auto auto;
    position: relative;
}

/* wrapper for a currently active picture */
.services__active-pic {
    grid-column: 1;
    grid-row: 1 / 3;
    opacity: 0;
    transition: $transitionBasic;
    transition-property: opacity;
    z-index: 1;

    .services__image {
        box-shadow: 0 0 10px 1px rgba($light-blue, 0.3);
    }
}

/* wrapper for all of the text block */
.services__text {
    grid-column: 2;
    grid-row: 1;
    opacity: 0;
    transition: $transitionBasic;
    transition-property: opacity;
    overflow: hidden;
    position: relative;
}

/* single text block */
.services__text-item {
    padding-left: 25px;
    color: #fff;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    &.services__text-item--active {
        opacity: 1;
        transition: 0.5s ease-out;
        transition-property: opacity;
        position: relative;
    }
}

/* text block title */
.services__text-title {
    margin-bottom: 15px;
    font-family: $playfair;
    font-weight: 400;
    font-size: 36px;
}

/* text under the block's title */
.services__text-subtitle {
    margin-bottom: 45px;
    font-family: $montserrat;
    font-size: 16px;
    font-style: italic;
}

/* text block single paragraph */
.services__text-paragraph {
    max-width: 80%;
    margin-bottom: 10px;
    font-family: $montserrat;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: justify;
}

/* wrapper for all of the inactive images */
.services__items {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    column-gap: 15px;
    margin: 25px 0 0 -50px;
    padding-bottom: 15px;
    opacity: 0;
    transition: $transitionBasic;
    transition-property: opacity;
    z-index: 2;
}

/* wrapper for a single inactive image */
.services__filter-item {
    flex-basis: 33.333%;

    .services__image {
        box-shadow: 0 0 20px 2px #00051b;
        cursor: pointer;

        &:hover,
        &:focus {
            box-shadow: 0 0 10px 1px rgba($light-blue, 0.3);
            transform: scale(1.05);
            z-index: 2;
        }

        &:focus {
            box-shadow: 0 0 0px 3px rgba($light-blue, 0.9);
        }
    }
}

/* section's images (all 4) */
.services__image {
    max-width: none;
    border-radius: 2px !important;
    transition: 250ms ease-out;
    transition-property: box-shadow, transform;
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    .lazy-image {
        width: 100%;
        max-width: none;
        border-radius: 2px;
    }
}

/* SCREEN ADAPTATION */
/* tablets */
@media (max-width: $tablet) {
    /* main section content */
    .services__filter {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    /* wrapper for a currently active picture */
    .services__active-pic {
        grid-column: 1;
        grid-row: 1;
        width: 80%;
        margin: 0 auto;
    }

    /* wrapper for all of the text block */
    .services__text {
        grid-column: 1;
        grid-row: 3;
    }

    /* single text block */
    .services__text-item {
        background-color: rgba(0, 5, 27, 0.75);
    }

    /* text block single paragraph */
    .services__text-paragraph {
        max-width: 90%;
    }

    /* wrapper for all of the inactive images */
    .services__items {
        grid-column: 1;
        grid-row: 2;
        margin: 50px 0;
        padding-bottom: 0;
    }
}

/* mobile phones */
@media (max-width: $phone) {
    /* wrapper for a currently active picture */
    .services__active-pic {
        width: calc(100% - 30px);
    }

    /* single text block */
    .services__text-item {
        padding: 0 15px;
    }

    /* text block title */
    .services__text-title {
        font-size: 26px;
        text-align: center;
    }

    /* text under the block's title */
    .services__text-subtitle {
        margin-bottom: 20px;
        font-size: 14px;
        text-align: center;
    }

    /* text block single paragraph */
    .services__text-paragraph {
        max-width: 100%;
        font-size: 16px;
        text-align: left;
    }

    /* wrapper for all of the inactive images */
    .services__items {
        margin: 25px 0;
    }

    /* wrapper for a single inactive image */
    .services__filter-item {
        .services__image {
            &:hover,
            &:focus {
                transform: scale(1.025);
            }
        }
    }
}
