<section class="services">
    <div class="container">
        <div class="services__inner">
            <h2 class="title">
                Services
            </h2>
            <div class="services__filter">
                <div class="services__active-pic">
                    <div class="image services__image">
                        <img data-src="services/services-1.webp" alt="services item 1" class="lazy-image" width="500px" height="700px">
                    </div>
                </div>
                <div class="services__text">
                    <div class="services__text-item services__text-item--active">
                        <h3 class="services__text-title">
                            Services Item I
                        </h3>
                        <p class="services__text-subtitle">
                            You can pick another item!
                        </p>
                        <p class="services__text-paragraph">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt itaque suscipit laudantium! Ad, ea similique reiciendis beatae ipsam est dignissimos, culpa perspiciatis excepturi accusantium unde magni! Quia quod est voluptatum quam? Error optio natus omnis quae, consequuntur voluptatum eaque maxime adipisci voluptates!
                        </p>
                        <p class="services__text-paragraph">
                            Adipisci voluptates consequatur odit possimus, libero quaerat vero ad cumque sapiente obcaecati earum eaque omnis excepturi, eos similique delectus eligendi laborum veritatis. Atque fugit minus quaerat blanditiis maiores maxime temporibus culpa, ratione repellendus quos deleniti cum nostrum ex dolores vitae odio nihil quidem nulla non quis est et voluptate! Nesciunt fugit eum vitae rerum perferendis iure dolore voluptate?
                        </p>
                    </div>
                    <div class="services__text-item">
                        <h3 class="services__text-title">
                            Services Item II
                        </h3>
                        <p class="services__text-subtitle">
                            You can pick another item!
                        </p>
                        <p class="services__text-paragraph">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt itaque suscipit laudantium! Ad, ea similique reiciendis beatae ipsam est dignissimos, culpa perspiciatis excepturi accusantium unde magni!
                        </p>
                        <p class="services__text-paragraph">
                            Adipisci voluptates consequatur odit possimus, libero quaerat vero ad cumque sapiente obcaecati earum eaque omnis excepturi, eos similique delectus eligendi laborum veritatis. Atque fugit minus quaerat blanditiis maiores maxime temporibus culpa, ratione repellendus quos deleniti cum nostrum ex dolores vitae odio nihil quidem nulla non quis est et voluptate! Nesciunt fugit eum vitae rerum perferendis iure dolore voluptate?
                        </p>
                    </div>
                    <div class="services__text-item">
                        <h3 class="services__text-title">
                            Services Item III
                        </h3>
                        <p class="services__text-subtitle">
                            You can pick another item!
                        </p>
                        <p class="services__text-paragraph">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt itaque suscipit laudantium! Ad, ea similique reiciendis beatae ipsam est dignissimos, culpa perspiciatis excepturi accusantium unde magni! Quia quod est voluptatum quam? Error optio natus omnis quae, consequuntur voluptatum eaque maxime adipisci voluptates!
                        </p>
                        <p class="services__text-paragraph">
                            Adipisci voluptates consequatur odit possimus, libero quaerat vero ad cumque sapiente obcaecati earum eaque omnis excepturi, eos similique delectus eligendi laborum veritatis.
                        </p>
                    </div>
                    <div class="services__text-item">
                        <h3 class="services__text-title">
                            Services Item IV
                        </h3>
                        <p class="services__text-subtitle">
                            You can pick another item!
                        </p>
                        <p class="services__text-paragraph">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt itaque suscipit laudantium! Ad, ea similique reiciendis beatae ipsam est dignissimos, culpa perspiciatis excepturi accusantium unde magni! Quia quod est voluptatum quam? Error optio natus omnis quae, consequuntur voluptatum eaque maxime adipisci voluptates!
                        </p>
                        <p class="services__text-paragraph">
                            Adipisci voluptates consequatur odit possimus, libero quaerat vero ad cumque sapiente obcaecati earum eaque omnis excepturi, eos similique delectus eligendi laborum veritatis. Atque fugit minus quaerat blanditiis maiores maxime temporibus culpa, ratione repellendus quos deleniti cum nostrum ex dolores vitae odio nihil quidem nulla non quis est et voluptate!
                        </p>
                    </div>
                </div>
                <div class="services__items">
                    <div class="services__filter-item">
                        <div class="image services__image">
                            <img data-src="services/services-2.webp" alt="services item 2" class="lazy-image" width="250px" height="350px">
                        </div>
                    </div>
                    <div class="services__filter-item">
                        <div class="image services__image">
                            <img data-src="services/services-3.webp" alt="services item 3" class="lazy-image" width="250px" height="350px">
                        </div>
                    </div>
                    <div class="services__filter-item">
                        <div class="image services__image">
                            <img data-src="services/services-4.webp" alt="services item 4" class="lazy-image" width="250px" height="350px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>