@import '../../../../styles/components.scss';

.gallery__inner {
    @include sectionRightBorder;
}

.gallery__masonry {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: repeat(3, 300px);
    gap: 20px;
}

.gallery__picture-wrapper {
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 0 15px 5px rgba(21, 26, 48, 0.75);
    transition: $transitionBasic;
    filter: brightness(0.75);
    cursor: crosshair;

    .image {
        width: 100%;
        height: 100%;

        .lazy-image {
            max-width: none;
            width: auto;
            min-height: 100%;
            height: min-content;
            transform: scale(0.7);
            transform-origin: top left;
            transition: $transitionBasic;
            transition-property: opacity;
            position: relative;
        }
    }

    &:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
    }

    &:nth-child(2) {
        grid-column: 2;
        grid-row: 1;
    }

    &:nth-child(3) {
        grid-column: 3;
        grid-row: 1 / 3;
    }

    &:nth-child(6) {
        grid-column: 1 / 3;
    }
}

/* SCREEN ADAPTATION */
@media (max-width: $smallScreen) {
    .gallery__masonry {
        grid-template-rows: repeat(3, 300px);
        padding: 0 30px;
    }
}

/* tablets */
@media (max-width: $tablet) {
    .gallery__masonry {
        grid-template-rows: repeat(3, 250px);
        gap: 10px;
    }
}

/* mobile phones */
@media (max-width: $phone) {
    .gallery__masonry {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 250px);
    }

    .gallery__picture-wrapper {
        .image .lazy-image {
            transform: scale(0.575);
        }

        &:nth-child(1) {
            grid-column: 1;
            grid-row: 1;
        }

        &:nth-child(2) {
            grid-column: 1;
            grid-row: 2;
        }

        &:nth-child(3) {
            grid-column: 1;
            grid-row: 3;
        }

        &:nth-child(6) {
            grid-column: 1;
        }
    }
}
