<section class="gallery">
    <div class="container">
        <div class="gallery__inner">
            <h2 class="title">
                Gallery
            </h2>
            <div class="gallery__masonry">
                <div class="gallery__picture-wrapper">
                    <div class="image">
                        <img data-src="gallery/gallery-pic-1.webp" width="342px" height="344px" class="lazy-image" alt="The Aquarium - gallery">
                    </div>
                </div>
                <div class="gallery__picture-wrapper">
                    <div class="image">
                        <img data-src="gallery/gallery-pic-2.webp" width="514px" height="344px" class="lazy-image" alt="The Aquarium - gallery">
                    </div>
                </div>
                <div class="gallery__picture-wrapper">
                    <div class="image">
                        <img data-src="gallery/gallery-pic-3.webp" width="342px" height="722px" class="lazy-image" alt="The Aquarium - gallery">
                    </div>
                </div>
                <div class="gallery__picture-wrapper">
                    <div class="image">
                        <img data-src="gallery/gallery-pic-4.webp" width="342px" height="358px" class="lazy-image" alt="The Aquarium - gallery">
                    </div>
                </div>
                <div class="gallery__picture-wrapper">
                    <div class="image">
                        <img data-src="gallery/gallery-pic-5.webp" width="514px" height="514px" class="lazy-image" alt="The Aquarium - gallery">
                    </div>
                </div>
                <div class="gallery__picture-wrapper">
                    <div class="image">
                        <img data-src="gallery/gallery-pic-6.webp" width="877px" height="344px" class="lazy-image" alt="The Aquarium - gallery">
                    </div>
                </div>
                <div class="gallery__picture-wrapper">
                    <div class="image">
                        <img data-src="gallery/gallery-pic-7.webp" width="342px" height="344px" class="lazy-image" alt="The Aquarium - gallery">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>