.image {
    display: block;
    width: fit-content;
    max-width: 100%;
    height: fit-content;
    background-color: #ccc;
    border: 5px solid #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: relative;

    &::before {
        content: url('./img/image-placeholder.svg');
        width: 100px;
        height: 100px;
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
    }

    &::after {
        content: '';
        width: 30px;
        height: 120%;
        background: linear-gradient(180deg, rgba(243, 243, 243, 0.5), #ededed, rgba(243, 243, 243, 0.5));
        transform: rotate(15deg);
        animation: lazyImage 5s linear infinite;
        position: absolute;
        top: -10%;
        z-index: 2;
    }

    &.image-loaded {
        background-color: transparent;
        border: none;
        border-radius: 0;
        box-shadow: none;

        &::before,
        &::after {
            display: none;
        }
    }

    .lazy-image {
        display: block;
        max-width: 100%;
        height: auto;
        position: relative;
        z-index: 3;
    }
}

@keyframes lazyImage {
    0% {
        left: -10%;
    }
    50% {
        left: 120%;
    }
    100% {
        left: 120%;
    }
}
