@import '../../../../styles/components.scss';

.testimonials__inner {
    @include sectionRightBorder;
}

/* section carousel */
#testimonials__carousel {
    .splide__list {
        padding: 60px 0 !important;
    }
}

/* single carousel item */
.testimonials__slide {
    position: relative;
    z-index: 1;

    &.is-active {
        z-index: 2;

        .testimonials__slide-inner {
            background-image: linear-gradient(to bottom, rgba($blue, 0), $dark-blue 20%);
            opacity: 1;
            transform: scale(1.25);

            &::before {
                background-image: linear-gradient(to bottom, rgba($blue, 0), $dark-blue 20%);
            }
        }
    }
}

/* slide's content (need it to use scale) */
.testimonials__slide-inner {
    height: 100%;
    padding: 30px;
    background-image: linear-gradient(to bottom, rgba($blue, 0), $dark-blue 60%);
    border-radius: 2px;
    box-shadow: 0 0 10px 10px rgba(0, 5, 27, 0.25);
    transition: $transitionBasic;
    opacity: 0.8;
    position: relative;

    p {
        color: $white;
        font-family: $montserrat;
    }
}

/* wrapper for the profile picture and meta info */
.testimonials__author {
    display: flex;
    margin-bottom: 20px;
}

/* profile picture */
.image.testimonials__author-img,
.image.testimonials__author-img.is-loaded {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    margin-right: 20px;
    border-radius: 50%;
}

.testimonials__author-name {
    margin: 20px 0 10px;
    font-size: 20px;
    font-weight: 600;
}

.testimonials__author-date {
    font-size: 14px;
    font-style: italic;
}

.testimonials__text {
    font-size: 16px;
}

/* SCREEN ADAPTATION */
@media (max-width: $smallScreen) {
    .testimonials__slide-inner {
        padding: 15px;
    }

    .testimonials__author-img {
        width: 60px;
        height: 60px;
    }

    .testimonials__author-name {
        margin: 5px 0 10px;
        font-size: 18px;
    }
}

/* mobile phones */
@media (max-width: $phone) {
    #testimonials__carousel {
        .splide__list {
            padding: 50px 0 !important;
        }
    }

    .testimonials__slide-inner {
        padding: 10px;
    }

    .testimonials__author-img {
        width: 50px !important;
        height: 50px !important;
        margin-right: 10px !important;
    }

    .testimonials__author-name {
        margin: 0 0 5px;
        font-size: 16px;
    }

    .testimonials__author-date {
        font-size: 12px;
    }

    .testimonials__text {
        font-size: 14px;
    }
}
