<section class="testimonials">
    <div class="container">
        <div class="testimonials__inner">
            <h2 class="title">
                Testimonials
            </h2>
            <%# splide carousel %>
            <section class="splide" id="testimonials__carousel" aria-label="Testimonials about the Aquarium from our guests">
                <%# carousel slides  %>
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide testimonials__slide">
                            <div class="testimonials__slide-inner">
                                <div class="testimonials__author">
                                    <div class="image testimonials__author-img">
                                        <img data-src="testimonials/testimonials-1.webp" alt="profile picture" class="lazy-image" width="80px" height="80px">
                                    </div>
                                    <div class="testimonials__author-meta">
                                        <p class="testimonials__author-name">
                                            Wade Warren
                                        </p>
                                        <p class="testimonials__author-date">
                                            Taxi Driver
                                        </p>
                                    </div>
                                </div>
                                <p class="testimonials__text">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit maiores minima adipisci labore illo laborum quis deleniti at. Ut quaerat vel itaque delectus labore mollitia dolores, ipsam hic quos quidem.
                                </p>
                            </div>
                        </li>
                        <li class="splide__slide testimonials__slide">
                            <div class="testimonials__slide-inner">
                                <div class="testimonials__author">
                                    <div class="image testimonials__author-img">
                                        <img data-src="testimonials/testimonials-2.webp" alt="profile picture" alt="profile picture" class="lazy-image" width="80px" height="80px">
                                    </div>
                                    <div class="testimonials__author-meta">
                                        <p class="testimonials__author-name">
                                            John Hawkins
                                        </p>
                                        <p class="testimonials__author-date">
                                            2001: A Space Odyssey
                                        </p>
                                    </div>
                                </div>
                                <p class="testimonials__text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias error, vel quisquam unde explicabo aliquam quia at reiciendis eius ea doloribus sequi possimus sit doloremque?
                                </p>
                            </div>
                        </li>
                        <li class="splide__slide testimonials__slide">
                            <div class="testimonials__slide-inner">
                                <div class="testimonials__author">
                                    <div class="image testimonials__author-img">
                                        <img data-src="testimonials/testimonials-3.webp" alt="profile picture" alt="profile picture" class="lazy-image" width="80px" height="80px">
                                    </div>
                                    <div class="testimonials__author-meta">
                                        <p class="testimonials__author-name">
                                            Michael Randley
                                        </p>
                                        <p class="testimonials__author-date">
                                            Eraserhead
                                        </p>
                                    </div>
                                </div>
                                <p class="testimonials__text">
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quo nihil hic iure nemo saepe adipisci quisquam vero eum ab!
                                </p>
                            </div>
                        </li>
                        <li class="splide__slide testimonials__slide">
                            <div class="testimonials__slide-inner">
                                <div class="testimonials__author">
                                    <div class="image testimonials__author-img">
                                        <img data-src="testimonials/testimonials-4.webp" alt="profile picture" alt="profile picture" class="lazy-image" width="80px" height="80px">
                                    </div>
                                    <div class="testimonials__author-meta">
                                        <p class="testimonials__author-name">
                                            John Doe
                                        </p>
                                        <p class="testimonials__author-date">
                                            North by Northwest
                                        </p>
                                    </div>
                                </div>
                                <p class="testimonials__text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem at excepturi id. Nesciunt omnis aspernatur suscipit. Eligendi facilis quo numquam magni ea labore nisi, ad aspernatur nemo eius libero eveniet maxime excepturi, harum voluptas voluptates?
                                </p>
                            </div>
                        </li>
                        <li class="splide__slide testimonials__slide">
                            <div class="testimonials__slide-inner">
                                <div class="testimonials__author">
                                    <div class="image testimonials__author-img">
                                        <img data-src="testimonials/testimonials-5.webp" alt="profile picture" alt="profile picture" class="lazy-image" width="80px" height="80px">
                                    </div>
                                    <div class="testimonials__author-meta">
                                        <p class="testimonials__author-name">
                                            Katsuro Kenshin
                                        </p>
                                        <p class="testimonials__author-date">
                                            Stalker
                                        </p>
                                    </div>
                                </div>
                                <p class="testimonials__text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, cumque ipsa. Dolore facilis perferendis animi?
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <%# carousel prev/next buttons %>
                <div class="splide__arrows">
                    <button class="splide__arrow splide__arrow--prev">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                        </svg>
                    </button>
                    <%# carousel pagination placeholder %>
                    <ul class="splide__pagination"></ul>
                    <button class="splide__arrow splide__arrow--next">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </button>
                </div>
            </section>
        </div>
    </div>
</section>