@import './variables.scss';

/* main size container */
.container {
    width: 100%;
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
}

/* prevent scrolling (usually when a navigation menu or a modal window is shown) */
.no-scroll {
    overflow: hidden;
}

/* buttons */
/* wavy button
example:
<button class="btn">
    <span class="btn__content">
        Start Me Up
    </span>
    <span class="btn__wave"></span>
</button> */
.btn {
    display: block;
    width: fit-content;
    max-width: 250px;
    padding: 10px 40px;
    background-color: $white;
    border: 2px solid $white;
    border-radius: 8px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    position: relative;

    .btn__content {
        color: $white;
        font-family: $montserrat;
        font-size: 20px;
        font-weight: 600;
        line-height: 120%;
        transition: 0.6s ease;
        position: relative;
        z-index: 2;
    }

    .btn__wave {
        display: block;
        width: 100%;
        aspect-ratio: 1 / 1;
        transform: translate3d(0, 0, 0);
        transition: 2s ease-in;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        &::before,
        &::after {
            content: '';
            width: 200%;
            height: 200%;
            transform: translate3d(-50%, -75%, 0);
            position: absolute;
            top: 0;
            left: 50%;
            z-index: 1;
        }

        &::before {
            border-radius: 45%;
            background-color: rgba(21, 69, 125, 1);
            background-color: rgba(70, 118, 174, 1);
            animation: btnWave 5s linear infinite;
        }

        &::after {
            border-radius: 35%;
            background-color: rgba(21, 69, 125, 0.5);
            background-color: rgba(70, 118, 174, 0.5);
            animation: btnWave 10s linear infinite;
        }
    }

    &:hover,
    &:focus {
        .btn__content {
            color: $blue;
        }

        .btn__wave {
            transform: translate3d(0, -150px, 0);
            transition: 0.75s ease-in;
        }
    }
}

@keyframes btnWave {
    0% {
        transform: translate3d(-50%, -75%, 0) rotate(0deg);
    }

    100% {
        transform: translate3d(-50%, -75%, 0) rotate(360deg);
    }
}

/* header and footer common styles */
.navigation__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        display: flex;
        align-items: center;
        column-gap: 25px;
    }
}

/* header and footer links */
.navigation__link {
    color: $white;
    font-family: $montserrat;
    font-size: 16px;
    font-weight: 600;
    transition: $transitionBasic;
    outline: none;
    position: relative;

    &::after {
        content: '';
        width: 95%;
        height: 3px;
        background-color: #6cb3e4;
        border-radius: 8px;
        opacity: 0;
        transform: translate3d(-50%, 2px, 0);
        transition: $transitionBasic;
        position: absolute;
        bottom: 0;
        left: 50%;
        z-index: 1;
    }

    &:hover,
    &:focus {
        color: #ff7f50;
    }

    &.navigation__link-active {
        &::after {
            opacity: 1;
            transform: translate3d(-50%, 7px, 0);
        }

        &:hover,
        &:focus {
            color: $light-blue;
        }
    }
}

/* section title */
.title {
    margin: 50px 0;
    color: $white;
    font-family: $playfair;
    font-size: 54px;
    font-weight: 400;
    text-align: center;
}

/* section borders */
@mixin sectionRightBorder {
    margin-top: 50px;
    border-top: 2px solid $blue;
    position: relative;

    &::before {
        content: '';
        width: 2px;
        height: 50px;
        background-color: $blue;
        position: absolute;
        top: -50px;
        left: 0;
        z-index: -1;
    }

    &::after {
        content: '';
        width: 2px;
        height: 100%;
        background-color: $blue;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }
}

@mixin sectionLeftBorder {
    margin-top: 50px;
    border-top: 2px solid $blue;
    position: relative;

    &::before {
        content: '';
        width: 2px;
        height: 50px;
        background-color: $blue;
        position: absolute;
        top: -50px;
        right: 0;
        z-index: -1;
    }

    &::after {
        content: '';
        width: 2px;
        height: 100%;
        background-color: $blue;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

/* SCREEN ADAPTATION */
@media (max-width: $smallScreen) {
}

/* tablets */
@media (max-width: $tablet) {
    .container {
        padding: 0 10px;
    }
}

/* mobile phones */
@media (max-width: $phone) {
    .container {
        padding: 0 5px;
    }
}
