@import './variables.scss';
@import './components.scss';

* {
    /* reset default styles */
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;
    /* set common styles */
    line-height: 120%;
}

/* wrapper needed for the parallax effect */
.root {
    /* make the footer always stick to the bottom even if there's no content on the page */
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #00051b;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px;
    perspective-origin: 0 0;
    perspective-origin: center 0;
    position: relative;
}

/* SCREEN ADAPTATION */
@media (max-width: $smallScreen) {
}

/* tablets */
@media (max-width: $tablet) {
}

/* mobile phones */
@media (max-width: $phone) {
}
