@import './variables.scss';
@import './components.scss';

* {
    /* reset default styles */
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;
    /* set common styles */
    line-height: 120%;
}

/* wrapper needed for the parallax effect */
.root {
    /* make the footer always stick to the bottom even if there's no content on the page */
    height: 100vh;
    background-color: #00051b;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px;
    perspective-origin: center 0;
    position: relative;

    /* apply the styles necessary for the parallax effect if the custom scrollbar library is used */
    .os-viewport {
        overflow-x: hidden !important;
        overflow-y: auto;
        perspective: 10px;
        perspective-origin: center 0;
        position: relative;
    }
}

.os-scrollbar-handle {
    background-color: rgba($blue, 0.5) !important;
}

/* SCREEN ADAPTATION */
@media (max-width: $smallScreen) {
}

/* tablets */
@media (max-width: $tablet) {
}

/* mobile phones */
@media (max-width: $phone) {
}
