/* screen sizes */
$smallScreen: 1024px;
$tablet: 768px;
$phone: 576px;

/* fonts */
$playfair: 'Playfair Display SC', 'Georgia', serif;
$montserrat: 'Montserrat', 'Verdana', sans-serif;

/* colors */
$light-blue: #008aba;
$blue: #15457d;
$dark-blue: #121f41;
$white: #ffffff;

$transitionBasic: 0.3s ease;
