/* screen sizes */
$smallScreen: 1024px;
$tablet: 768px;
$phone: 576px;

/* fonts */
$playfair: 'Playfair Display SC', 'Georgia', serif;
$montserrat: 'Montserrat', 'Verdana', sans-serif;

/* colors */
$light-blue: #008aba;
$blue: rgb(21, 69, 125);
$dark-blue: #121f41;
$white: #ffffff;
$coral: #ff7f50;

$transitionBasic: 0.3s ease;
$shadowBasic: 0 0 5px 3px rgba(21, 69, 125, 0.3);
