<section class="inhabitants">
    <div class="container">
        <div class="inhabitants__inner">
            <h2 class="title">
                Inhabitants
            </h2>
            <%# splide carousel %>
            <section class="splide" id="inhabitants__carousel" aria-label="Images of the Aquarium inhabitants">
                <%# carousel slides  %>
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide inhabitants__slide">
                            <div class="image inhabitants__image">
                                <img data-src="inhabitants/shark.webp" alt="shark" class="lazy-image" width="1280px" height="1928px">
                            </div>
                            <p class="inhabitants__label">
                                Shark
                            </p>
                        </li>
                        <li class="splide__slide inhabitants__slide">
                            <div class="image inhabitants__image">
                                <img data-src="inhabitants/seal.webp" alt="seal" class="lazy-image" width="1280px" height="2171px">
                            </div>
                            <p class="inhabitants__label">
                                Seal
                            </p>
                        </li>
                        <li class="splide__slide inhabitants__slide">
                            <div class="image inhabitants__image">
                                <img data-src="inhabitants/jellyfish.webp" alt="jellyfish" class="lazy-image" width="1280px" height="1446px">
                            </div>
                            <p class="inhabitants__label">
                                Jellyfish
                            </p>
                        </li>
                        <li class="splide__slide inhabitants__slide">
                            <div class="image inhabitants__image">
                                <img data-src="inhabitants/clown-fish.webp" alt="clown fish" class="lazy-image" width="1280px" height="955px">
                            </div>
                            <p class="inhabitants__label">
                                Clown fish
                            </p>
                        </li>
                        <li class="splide__slide inhabitants__slide">
                            <div class="image inhabitants__image">
                                <img data-src="inhabitants/golden-fish.webp" alt="golden fish" class="lazy-image" width="1280px" height="854px">
                            </div>
                            <p class="inhabitants__label">
                                Golden fish
                            </p>
                        </li>
                        <li class="splide__slide inhabitants__slide">
                            <div class="image inhabitants__image">
                                <img data-src="inhabitants/coral-reefs.webp" alt="coral reefs" class="lazy-image" width="1280px" height="1707px">
                            </div>
                            <p class="inhabitants__label">
                                Coral reefs
                            </p>
                        </li>
                        <li class="splide__slide inhabitants__slide">
                            <div class="image inhabitants__image">
                                <img data-src="inhabitants/stingray.webp" alt="stingray" class="lazy-image" width="1280px" height="1920px">
                            </div>
                            <p class="inhabitants__label">
                                Stingray
                            </p>
                        </li>
                        <li class="splide__slide inhabitants__slide">
                            <div class="image inhabitants__image">
                                <img data-src="inhabitants/dolphin.webp" alt="dolphin" class="lazy-image" width="1280px" height="1600px">
                            </div>
                            <p class="inhabitants__label">
                                Dolphin
                            </p>
                        </li>
                        <li class="splide__slide inhabitants__slide">
                            <div class="image inhabitants__image">
                                <img data-src="inhabitants/turtle.webp" alt="turtle" class="lazy-image" width="1280px" height="960px">
                            </div>
                            <p class="inhabitants__label">
                                Turtle
                            </p>
                        </li>
                    </ul>
                </div>
                <%# carousel prev/next buttons %>
                <div class="splide__arrows">
                    <button class="splide__arrow splide__arrow--prev">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                        </svg>
                    </button>
                    <%# carousel pagination placeholder %>
                    <ul class="splide__pagination"></ul>
                    <button class="splide__arrow splide__arrow--next">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </button>
                </div>
            </section>
        </div>
    </div>
</section>