@import '../../styles/variables.scss';

.footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    margin-top: -280px;
    padding-top: 30px;
    overflow: hidden;
    position: relative;
    z-index: 1;

    /* main section content */
    .container {
        grid-column: 1;
        grid-row: 1;
        align-self: end;
        z-index: 2;
    }
}

/* section background image */
.footer__background {
    grid-column: 1;
    grid-row: 1;
    margin: 0 auto;
    box-shadow: 0 0 30px $dark-blue;
    z-index: 1;

    /* hide the image for the small screens */
    .image--mob {
        display: none;
    }
}

/* main section content */
.footer__inner {
    padding-bottom: 25px;
}

/* SCREEN ADAPTATION */
@media (max-width: $smallScreen) {
    .footer {
        margin-top: -170px;
    }

    /* main section content */
    .footer__inner {
        /* footer logo */
        .navigation__logo {
            width: 160px;
        }

        /* footer list of links */
        .navigation__list {
            column-gap: 15px;
        }
    }
}

/* tablets */
@media (max-width: $tablet) {
    .footer {
        margin-top: -40px;
    }

    /* main section content */
    .footer__inner {
        /* wrapper for the logo and links */
        .navigation__wrapper {
            flex-direction: column-reverse;
            row-gap: 45px;
        }
    }
}

/* mobile phones */
@media (max-width: $phone) {
    .footer {
        margin-top: -300px;
    }

    /* section background image */
    .footer__background {
        display: flex;
        justify-content: center;
        height: 100%;

        /* show the large image */
        .image {
            display: none;

            /* show the image for the small screens */
            &.image--mob {
                display: block;
            }
        }

        .lazy-image {
            width: fit-content;
            max-width: none;
            height: 100%;
        }
    }

    /* main section content */
    .footer__inner {
        /* list of the links */
        .navigation__list {
            display: flex;
            flex-direction: column;
            row-gap: 25px;
        }
    }
}
