<footer class="footer">
    <div class="footer__background">
        <div class="image">
            <img data-src="footer/footer-bg.webp" alt="background image" class="lazy-image" width="2000px" height="750px">
        </div>
        <%# this image will be shown only on the small screens (mobile devices) %>
        <div class="image image--mob">
            <img data-src="footer/footer-bg-mob.webp" alt="background image" class="lazy-image" width="576px" height="747px">
        </div>
    </div>
    <div class="container">
        <div class="footer__inner">
            <div class="navigation__wrapper">
                <a href="#" class="navigation__logo footer__logo">
                    <img src="../../images/logotype/logo.svg" alt="Aquarium">
                </a>
                <nav class="footer__nav">
                    <ul class="navigation__list">
                        <li>
                            <a href="gallery" class="navigation__link">
                                Gallery
                            </a>
                        </li>
                        <li>
                            <a href="inhabitants" class="navigation__link">
                                Inhabitans
                            </a>
                        </li>
                        <li>
                            <a href="prices" class="navigation__link">
                                Prices
                            </a>
                        </li>
                        <li>
                            <a href="services" class="navigation__link">
                                Services
                            </a>
                        </li>
                        <li>
                            <a href="sestimonials" class="navigation__link">
                                Testimonials
                            </a>
                        </li>
                        <li>
                            <a href="contact" class="navigation__link">
                                Contact Us
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>