@import '../../styles/variables.scss';

.modal-window {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 0;
    transition: 0.35s linear;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;

    &.modal-window--active {
        opacity: 1;

        .modal-window__inner {
            transform: translate3d(0, 0, 0);
        }
    }
}

.modal-window__inner {
    min-width: 50%;
    max-width: 75%;
    max-height: 75vh;
    padding: 20px;
    background-color: $white;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba($light-blue, 0.5);
    transform: translate3d(0, 50vh, 0);
    transition: 0.5s ease-out;
    cursor: auto;
    overflow: auto;
}

.modal-window-title {
    margin-bottom: 20px;
    color: $dark-blue;
    font-family: $montserrat;
    font-size: 30px;
}

.modal-window-paragraph {
    margin-bottom: 10px;
    font-family: $montserrat;
    font-size: 18px;
}

.modal-window-link {
    color: $blue;
    font-family: $montserrat;
    padding-bottom: 5px;
    outline: none;
    position: relative;

    &::after {
        content: '';
        width: 99%;
        height: 2px;
        background-color: $blue;
        border-radius: 6px;
        opacity: 0;
        transform: translate3d(-50%, -3px, 0);
        transition: $transitionBasic;
        position: absolute;
        left: 50%;
        bottom: 0;
        z-index: 1;
    }

    &:hover,
    &:focus {
        &::after {
            opacity: 0.8;
            transform: translate3d(-50%, 0, 0);
        }
    }
}

.modal-window-close {
    margin: 30px auto 0;
}

/* SCREEN ADAPTATION */
/* tablets */
@media (max-width: $tablet) {
    .modal-window__inner {
        min-width: 50%;
        max-width: 90%;
        max-height: 75vh;
        padding: 10px;
    }
}
