<header class="header">
    <div class="container">
        <div class="header__inner navigation__wrapper">
            <a href="#" class="header__logo">
                <img src="../../images/logotype/logo.svg" alt="Aquarium">
            </a>
            <nav class="header__nav">
                <ul class="header__links-list">
                    <li class="header__links-item">
                        <a href="#" class="navigation__link header__nav-link">
                            Gallery
                        </a>
                    </li>
                    <li class="header__links-item">
                        <a href="#" class="navigation__link header__nav-link">
                            Inhabitans
                        </a>
                    </li>
                    <li class="header__links-item">
                        <a href="#" class="navigation__link header__nav-link">
                            Prices
                        </a>
                    </li>
                    <li class="header__links-item">
                        <a href="#" class="navigation__link header__nav-link">
                            Services
                        </a>
                    </li>
                    <li class="header__links-item">
                        <a href="#" class="navigation__link header__nav-link">
                            Reviews
                        </a>
                    </li>
                    <li class="header__links-item">
                        <a href="#" class="navigation__link header__nav-link">
                            Contacts
                        </a>
                    </li>
                </ul>
                <button class="hamburger hamburger--spin header__nav-btn" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </nav>
        </div>
    </div>
</header>