@import '../../styles/variables.scss';

.header {
    transition: $transitionBasic;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 99;

    &.header--scroll {
        background-color: rgba(0, 5, 27, 0.97);
        box-shadow: 0 0 10px 10px rgba(0, 5, 27, 0.97);

        .header__inner {
            padding: 5px 0 0;
        }
    }
}

.header__inner {
    padding: 20px 0 0;
    transition: padding $transitionBasic;
}

/* burger button */
.header__nav-btn,
.header__nav-btn.is-active {
    display: none;
    transition: 0.4s ease-in-out;
    outline: none;

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
        background-color: $white;
        transition: 0.4s ease-in-out;
    }

    &:hover,
    &:focus {
        opacity: 1;

        .hamburger-inner,
        .hamburger-inner::before,
        .hamburger-inner::after {
            background-color: #6cb3e4;
            background-color: $coral;
        }
    }
}

/* ANIMATIONS */
@keyframes showLinks {
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

/* SCREEN ADAPTATION */
@media (max-width: $smallScreen) {
    /* burger button */
    .header__nav-btn,
    .header__nav-btn.is-active {
        display: block;
        position: relative;
        z-index: 2;
    }

    /* <ul> list of links */
    .header__links-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 30px;
        height: 100vh;
        background-color: rgba(0, 5, 27, 0.97);
        opacity: 0;
        transform: translate3d(0, 100%, 0);
        transition: 0.4s ease-in-out;
        overflow: auto;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;

        &.header__links-list--active {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }

    /* single list item <li> */
    .header__links-item {
        opacity: 0;
        transform: translate3d(0, 50px, 0);

        /* navigation <a> link  */
        .header__nav-link {
            font-size: 20px;
        }
    }

    /* smooth transition for each item sequentially */
    @for $i from 1 through 6 {
        .header__links-list--active {
            .header__links-item:nth-child(#{$i}) {
                animation: showLinks ease-in-out 0.6s forwards;
                animation-delay: calc(0.15s * $i);
            }
        }
    }
}

/* tablet */
@media (max-width: $tablet) {
    .header__inner {
        padding: 10px 0;
    }
}

/* mobile phones */
@media (max-width: $tablet) {
    .header__inner {
        padding: 5px 0;
    }
}
