<header class="header">
    <div class="container">
        <div class="header__inner">
            <button class="btn">
                <span class="btn__content">
                    Start Me Up
                </span>
                <span class="btn__wave"></span>
            </button>
        </div>
    </div>
</header>