<header class="header">
    <div class="container">
        <div class="header__inner navigation__wrapper">
            <a href="#" class="navigation__logo header__logo">
                <img src="../../images/logotype/logo.svg" alt="Aquarium" width="848px" height="326px">
            </a>
            <nav class="header__nav">
                <ul class="navigation__list header__links-list">
                    <li class="header__links-item">
                        <a href="gallery" class="navigation__link header__nav-link">
                            Gallery
                        </a>
                    </li>
                    <li class="header__links-item">
                        <a href="inhabitants" class="navigation__link header__nav-link">
                            Inhabitans
                        </a>
                    </li>
                    <li class="header__links-item">
                        <a href="prices" class="navigation__link header__nav-link">
                            Prices
                        </a>
                    </li>
                    <li class="header__links-item">
                        <a href="services" class="navigation__link header__nav-link">
                            Services
                        </a>
                    </li>
                    <li class="header__links-item">
                        <a href="testimonials" class="navigation__link header__nav-link">
                            Testimonials
                        </a>
                    </li>
                    <li class="header__links-item">
                        <a href="contact" class="navigation__link header__nav-link">
                            Contact Us
                        </a>
                    </li>
                </ul>
                <button class="hamburger hamburger--spin header__nav-btn" type="button" aria-label="show the navigation menu">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </nav>
        </div>
    </div>
</header>