@import '../../../../styles/components.scss';

.prices__inner {
    @include sectionRightBorder;
    padding-bottom: 35px;
}

/* wrapper for the prices items */
.prices__wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}

/* single prices item */
.prices__item {
    display: flex;
    flex-direction: column;
    width: calc(33.333% - 20px / 3);
    padding: 30px 45px 60px;
    color: $white;
    background-image: linear-gradient(to bottom, rgba($blue, 0), $dark-blue 40%);
    border-radius: 2px;
    opacity: 0;
    transform: translate3d(0, 60px, 0);
    transition: 0.5s linear;
    position: relative;

    /* gradient shadow */
    &::before {
        content: '';
        width: calc(100% + 12px);
        height: calc(100% + 20px);
        background-image: linear-gradient(to bottom, rgba($blue, 0), $dark-blue 40%);
        border-radius: 10px;
        opacity: 0.5;
        filter: blur(10px);
        position: absolute;
        top: 0px;
        left: -6px;
        z-index: -1;
    }

    /* smooth appearing on the screen */
    &.prices__item--show {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

/* smooth transition for each item sequentially */
@for $i from 1 through 3 {
    .prices__item:nth-child(#{$i}) {
        transition-delay: calc($i - 1) * 0.2s;
    }
}

/* title for the prices item */
.prices__title {
    height: 72px;
    font-family: $playfair;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

/* list of services */
.prices__list {
    margin: 15px 0 120px;
}

/* single service */
.prices__list-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    &:last-child {
        margin-bottom: 0;
    }
}

/* service name */
.prices__list-type,
.prices__list-value {
    font-family: $montserrat;
    font-size: 18px;
}

/* service cost */
.prices__list-value {
    max-width: 50px;
}

.prices__list-value--sm {
    font-size: 14px;
}

/* <hr> visual separator */
.prices__item-line {
    width: calc(100% - 90px);
    height: 1px;
    background-color: $white;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    bottom: 180px;
    z-index: 1;
}

/* 'purchase' button */
.prices__item-button {
    margin: auto auto 0;
}

/* SCREEN ADAPTATION */
@media (max-width: $smallScreen) {
    /* single prices item */
    .prices__item {
        padding: 30px 15px;
    }

    /* <hr> visual separator */
    .prices__item-line {
        width: calc(100% - 30px);
        bottom: 150px;
    }
}

/* tablets */
@media (max-width: $tablet) {
    /* wrapper for the prices items */
    .prices__wrapper {
        flex-direction: column;
        align-items: center;
        row-gap: 60px;
    }

    /* single prices item */
    .prices__item {
        width: 70%;
        padding: 30px;
        transition-delay: 0;
    }

    /* title for the prices item */
    .prices__title {
        height: 62px;
        font-size: 26px;
    }

    /* <hr> visual separator */
    .prices__item-line {
        width: calc(100% - 60px);
        bottom: 140px;
    }
}

/* mobile phones */
@media (max-width: $phone) {
    /* single prices item */
    .prices__item {
        width: 80%;
        padding: 30px 15px;
    }

    /* title for the prices item */
    .prices__title {
        height: auto;
        margin-bottom: 30px;
        font-size: 26px;
    }

    /* list of services */
    .prices__list {
        margin-bottom: 90px;
    }

    .prices__list-type,
    .prices__list-value {
        font-size: 16px;
    }

    .prices__list-value--sm {
        font-size: 12px;
    }

    /* <hr> visual separator */
    .prices__item-line {
        width: calc(100% - 30px);
        bottom: 120px;
    }

    /* 'purchase' button */
    .prices__item-button .btn__content {
        font-size: 18px;
    }
}
