<section class="prices">
    <div class="container">
        <div class="prices__inner">
            <h2 class="title">
                Prices
            </h2>
            <div class="prices__wrapper">
                <div class="prices__item">
                    <h3 class="prices__title">
                        Entrance ticket
                    </h3>
                    <ul class="prices__list">
                        <li class="prices__list-item">
                            <p class="prices__list-type">
                                Children
                            </p>
                            <p class="prices__list-value">
                                $5
                            </p>
                        </li>
                        <li class="prices__list-item">
                            <p class="prices__list-type">
                                Adults
                            </p>
                            <p class="prices__list-value">
                                $10
                            </p>
                        </li>
                        <li class="prices__list-item">
                            <p class="prices__list-type">
                                Pupils
                            </p>
                            <p class="prices__list-value">
                                $6
                            </p>
                        </li>
                        <li class="prices__list-item">
                            <p class="prices__list-type">
                                Students
                            </p>
                            <p class="prices__list-value">
                                $7
                            </p>
                        </li>
                        <li class="prices__list-item">
                            <p class="prices__list-type">
                                Pensioners
                            </p>
                            <p class="prices__list-value">
                                $4
                            </p>
                        </li>
                    </ul>
                    <hr class="prices__item-line">
                    <button class="btn prices__item-button">
                        <span class="btn__content">
                            Buy tickets
                        </span>
                        <span class="btn__wave"></span>
                    </button>
                </div>
                <div class="prices__item">
                    <h3 class="prices__title">
                        Excursions
                    </h3>
                    <ul class="prices__list">
                        <li class="prices__list-item">
                            <p class="prices__list-type">
                                Group
                            </p>
                            <p class="prices__list-value">
                                $10 <span class="prices__list-value--sm">/ 1 person</span>
                            </p>
                        </li>
                        <li class="prices__list-item">
                            <p class="prices__list-type">
                                Individual
                            </p>
                            <p class="prices__list-value">
                                $15 <span class="prices__list-value--sm">/ 1 person</span>
                            </p>
                        </li>
                        <li class="prices__list-item">
                            <p class="prices__list-type">
                                Childish
                            </p>
                            <p class="prices__list-value">
                                $8 <span class="prices__list-value--sm">/ 1 person</span>
                            </p>
                        </li>
                    </ul>
                    <hr class="prices__item-line">
                    <button class="btn prices__item-button">
                        <span class="btn__content">
                            Sign up
                        </span>
                        <span class="btn__wave"></span>
                    </button>
                </div>
                <div class="prices__item">
                    <h3 class="prices__title">
                        Audio guide
                    </h3>
                    <ul class="prices__list">
                        <li class="prices__list-item">
                            <p class="prices__list-type">
                                Program <br> (1 hour)
                            </p>
                            <p class="prices__list-value">
                                $10
                            </p>
                        </li>
                        <li class="prices__list-item">
                            <p class="prices__list-type">
                                Program <br> (2 hours)
                            </p>
                            <p class="prices__list-value">
                                $15
                            </p>
                        </li>
                        <li class="prices__list-item">
                            <p class="prices__list-type">
                                Childish <br> program
                            </p>
                            <p class="prices__list-value">
                                $6
                            </p>
                        </li>
                    </ul>
                    <hr class="prices__item-line">
                    <button class="btn prices__item-button">
                        <span class="btn__content">
                            Purchase
                        </span>
                        <span class="btn__wave"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>